.buttons{
  background-color: #cc9d26; 
  border: none;
  color: white;
  width: 180px;
  padding: 10px;
  height: 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 15px;
  transition-duration: 0.4s;
}

.buttons:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  width: 165px;
  height: 85px;
}

#mainContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  border-radius: 15px;
  margin: auto;
}

#baner{
  background-color: rgb(255, 213, 162);
	text-align: center;
	padding: 20px;
}

.mainTabs{
  display: block;
}

#navigate{
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(191, 112, 17);
  transition-duration: 0.4s;
}

#content{
	height: 400px;
	clear:both;
  padding-left: 20px;
}

#footer{
	background-color: rgb(191, 112, 17);
	color: white;
	text-align: center;
	font-size:150%;

}